.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--header-bg);
  padding: 1% 1% 0 1%;
  z-index: 99;
}
.Header small {
  font-size: 1.2rem;
}
.Header h1 {
  transform: translateY(-8px);
}
.Header h4 {
  margin: 0;
}