.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--header-bg);
  padding: 0 1%;
  z-index: 99;
}
.Header small {
  font-size: 1.2rem;
}
.Header h1 {
  transform: translateY(-8px);
}
.Header h4 {
  margin: 0;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.title {
  transform: translateY(5px);
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 5px;
  cursor: pointer;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 5px;
}


.email {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 18px;
  text-align: right;
  background-color: var(--bg-alpha);
  font-size: 1rem;
}
@media (min-width: 800px) {
  .email {
    height: 20px;
    font-size: 1.25rem;
  }
}


@media (max-width: 430px) {
  .Header h1 {
    font-size: 1.5rem;
  }
  .Header small {
    font-size: .75rem;
  }
  .links {
    font-size: .75rem;
  }
}