.Help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -350px;
  left: 0;
  width: 100%;
  max-height: 350px;
  padding: 20px 10px;
  text-align: center;
  background-color: var(--help-bg);
  transition: .5s all;
  box-shadow: 0 0 10px rgb(65, 65, 65);
}
.active {
  top: 50px;
}
.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5px;
  right: 25px;
  transform: translateX(50%);
  border-radius: 50%;
  border-top: 0 solid transparent;
  background: var(--help-bg);
  overflow: hidden;
  transition: .5s all;
  z-index: 999;
}
.generate-button {
  /* width: 60%; */
  padding: 10px;
  margin-top: 20px;
  font-size: 1.25rem;
  background-color: rgb(15, 223, 105);
  border: 2px solid rgb(150, 245, 150);
  border-radius: 20px;
  cursor: pointer;
}
.rainbow-text {
  display: inline;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
}