.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 5px;
  cursor: pointer;
}
.email {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 12px;
  text-align: right;
  background-color: var(--bg);
  font-size: .75rem;
}