:root {
  --bg: #adf1f9;
  --header-bg: rgb(68, 210, 144);
  --timer-bg: rgba(80, 225, 235);
  --prompt-bg: rgba(80, 225, 235, 0.45);

  --font: #2f2f2f;
  --link: rgb(0, 117, 117);
  --link-dark: rgb(2, 175, 175);

  --blue: rgba(3, 150, 255, 0.45);
  --green: rgba(9, 202, 209, 0.45);
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--font);
  font-size: 16px;
  overflow: hidden;
}
a {
  color: var(--font);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3 {
  margin: 0;
}
