@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --bg: rgb(174, 167, 220);
  --header-bg: rgb(68, 210, 144);
  --timer-bg: rgba(80, 225, 235, 0.854);
  --help-bg: rgba(80, 225, 235, 0.981);
  --prompt-bg: transparent;

  --font: #2f2f2f;
  --link: rgb(0, 117, 117);
  --link-dark: rgb(2, 175, 175);

  --blue: rgba(3, 150, 255, 0.45);
  --green: rgba(9, 202, 209, 0.45);
}
* {
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  font-size: 14px;
}
body {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0;
  height: 100%;
  color: var(--font);
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1.3px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  body {
    
  }
}
a {
  color: var(--font);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  font-family: "Fredoka", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3 {
  margin: 0;
}
input,
select {
  font-family: "Fredoka", sans-serif;
}

.bg-image {
  position: fixed;
  top: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}
.bg-image img {
  height: calc(100% - 80px);
  width: 100%;
  min-width: 500px;
  max-width: 700px;
}

.refresh-container {
  position: fixed;
  right: 6%;
  bottom: 2%;
}
.back-container {
  position: fixed;
  left: 6%;
  bottom: 2%;
}
.back-container button,
.refresh-container button {
  margin: -1%;
  margin-right: 4%;
  padding: 2%;
  border-radius: 50%;
  cursor: pointer;
}
.refresh-container button {
  background-color: rgba(15, 223, 105, 0.587);
  border: 2px solid rgb(150, 245, 150);
}
.refresh-container button:hover {
  background-color: rgb(22, 245, 119);
  border: 2px solid rgb(112, 239, 112);
}
.refresh-container button:active {
  background-color: rgb(8, 146, 68);
}
.back-container button {
  background-color: rgba(180, 61, 31, 0.587);
  border: 2px solid rgb(237, 130, 103);
}
.back-container button:hover {
  background-color: rgb(166, 27, 17);
  border: 2px solid rgb(229, 97, 77);
}
.back-container button:active {
  background-color: rgb(8, 146, 68);
}
.back-container img,
.refresh-container img {
  max-height: 50px;
}

/* @media (max-height: 700px) {
  .refresh-container {
    bottom: 10%;
  }
  .back-container {
    bottom: 10%;
  }
} */