@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --bg: rgb(182, 173, 242);
  --bg-alpha: rgba(182, 173, 242, 0.66);
  --header-bg: rgb(68, 210, 144);
  --header-alpha: rgba(68, 210, 144, 0.66);
  --timer-bg: rgba(80, 225, 235, 0.854);
  --help-bg: rgba(161, 231, 255, 0.981);
  --header-hover: rgb(15, 171, 80);
  --prompt-bg: transparent;

  --font: #2f2f2f;
  --link: rgb(0, 117, 117);
  --link-dark: rgb(2, 175, 175);

  --blue: rgba(3, 150, 255, 0.45);
  --green: rgba(9, 202, 209, 0.45);
}
* {
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
}
body {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0;
  height: 100%;
  color: var(--font);
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1.3px;
  background-color: var(--bg);
  overflow: hidden;
}
a {
  color: var(--font);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  font-family: "Fredoka", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3 {
  margin: 0;
}
input,
select {
  font-family: "Fredoka", sans-serif;
}

.bg-image {
  position: fixed;
  top: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}
.bg-image img {
  height: calc(100% - 80px);
  width: 100%;
  min-width: 500px;
  max-width: 700px;
}
.generate-button {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 300px;
  padding: 2%;
  font-size: 1.25rem;
  background-color: rgb(15, 223, 105);
  border: 2px solid rgb(150, 245, 150);
  border-radius: 20px;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 700px) {
  .generate-button {
    padding: 1%;
  }
}
.button-container {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 2% 5%;
  z-index: 3;
}
.back-container button,
.refresh-container button {
  padding: 2%;
  border-radius: 50%;
  cursor: pointer;
}
.refresh-container button {
  background-color: rgba(15, 223, 105, 0.587);
  border: 2px solid rgb(150, 245, 150);
}
.refresh-container button:hover {
  background-color: rgb(22, 245, 119);
  border: 2px solid rgb(112, 239, 112);
}
.refresh-container button:active {
  background-color: rgb(8, 146, 68);
}
.back-container button {
  background-color: rgba(180, 61, 31, 0.587);
  border: 2px solid rgb(237, 130, 103);
}
.back-container button:hover {
  background-color: rgb(166, 27, 17);
  border: 2px solid rgb(229, 97, 77);
}
.back-container button:active {
  background-color: rgb(8, 146, 68);
}
.back-container img,
.refresh-container img {
  max-height: 50px;
}

.buttons:hover {
  background: var(--header-hover);
}
.buttons:active {
  background: var(--header-hover);
}

/* @media (max-height: 700px) {
  .refresh-container {
    bottom: 10%;
  }
  .back-container {
    bottom: 10%;
  }
} */