
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.prompt-choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prompt-choices a {
  border-radius: 30%;
}
.prompt-choices a:active {
  filter: brightness(75%)
}
.prompts {
  position: absolute;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 20px;
  border-radius: 40px;
  background-image: url("/images/arm-prompts.png");
  background-size: 190% 100%;
  background-position: left;
  background-repeat: no-repeat; 
  animation: slide-prompts ease 1s .50s forwards;
  transform: translateY(100vh);
}
.prompts-text {
  transform: translate(-10%, -100%) rotate(-15deg);
}
.stories-text {
  transform: translateY(-270%) rotate(14deg);
}
.stories {
  position: absolute;
  top: 30%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 20px;
  border-radius: 40px;
  background-image: url("/images/arm-stories.png");
  background-size: 190% 100%;
  background-position: right;
  background-repeat: no-repeat; 
  animation: slide-stories ease 1s .75s forwards;
  transform: translateY(100vh);
}
.stories::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes slide-stories {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-25vh);
  }
}
@keyframes slide-prompts {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-24vh);
  }
}


.bg-image {
  position: absolute;
  top: 7%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url("/images/home-supplies.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

/* .prompts {
  transform: translate(-5%, -10%) rotate(-13deg);
}
.stories {
  transform: translate(-10%, -100%) rotate(10deg);
} */