.Prompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  overflow: hidden;
}
.prompt-settings {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 34%;
  justify-content: center;
  align-items: center;
  transform: translate(120%, -50%);
  width: 80vmin;
  max-width: 500px;
  height: 50%;
  padding: 10% 0 5% 0;
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
  background-image: url("/images/notebook.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  animation: slide-prompt-settings ease 1s .25s forwards;
}

@keyframes slide-prompt-settings {
  0% {
    transform: translate(120%, -50%);
  }
  100% {
    transform: translate(0%, 10%);
  }
}
@keyframes slide-prompt-settings-small {
  0% {
    transform: translate(120%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}


.prompt-settings form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* padding-top: 10%; */
}
.prompt-settings label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.prompt-settings select,
.prompt-settings input[type="text"] {
  padding: 4% 2%;
  border-radius: 15px;
  background: transparent;
}
.prompt-settings input[type="text"] {
  margin: 4% 0;
}
.prompt-settings label {
  font-size: 1rem;
}
.type-selection button {
  padding: 4%;
  border: 2px solid rgb(150, 245, 150);
  border-radius: 20px;
  cursor: pointer;
}
.generate-button {
  position: absolute;
  bottom: 12%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  padding: 2%;
  font-size: 1.25rem;
  background-color: rgb(15, 223, 105);
  border: 2px solid rgb(150, 245, 150);
  border-radius: 20px;
  cursor: pointer;
}
.prompt-settings button:hover {
  background-color: rgb(22, 245, 119);
  border: 2px solid rgb(112, 239, 112);
}
.prompt-settings h1 {
  font-size: 2rem;
  margin-bottom: 2%;
}
.prompt-card {
  position: relative;
  transform: translate(0, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 50%;
  max-height: 50%;
  border-radius: 30px;
  padding-top: 5%;
  background-image: url("/images/notebook.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  /* overflow: hidden; */
}
@media (max-height: 768px) {
  .Prompts {
    font-size: .75rem;
  }
  .prompt-settings {
    animation: slide-prompt-settings-small ease 1s .25s forwards;
  }
  .prompt-card {
    transform: translate(0%, 10%);
  }
  .prompt-settings button {
    margin-top: 1%;
    font-size: 1rem;
  }
  .prompt-settings h1 {
    font-size: 1.5rem;
  }
  .prompt-settings select,
  .prompt-settings input[type="text"] {
    margin: 1%;
    padding: 2% 2%;
  }
  .prompt-settings input[type="text"] {
    padding-left: 8px;
  }
  
}
.type-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;
}
.emoji-button {
  font-family: "Fredoka", sans-serif;
  font-size: 1.5rem;
  background-color: transparent !important;
  border-color: transparent !important;
}
.words-button {
  font-family: "Fredoka", sans-serif;
  font-size: 1.5rem;
  background-color: transparent !important;
  border-color: transparent !important;
}
.active {
  border-color: rgb(43, 43, 43) !important;
}
.bg-image {
  position: absolute;
  top: 50px;
  left: 0;
  height: 25vh;
  width: 100%;
  background-image: url("/images/prompts-supplies.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}