.Prompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 8vh);
  font-size: 1.25rem;
}
.prompt-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(5%, 25%);
  width: 80%;
  max-width: 500px;
  height: 30vh;
  padding-top: 4%;
  border-radius: 30px;
}
.prompt-settings form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 100%;
}
.prompt-settings label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 95%;
  margin: 2% 0;
}
.prompt-settings select,
.prompt-settings input[type="text"] {
  padding: 4% 2%;
  border-radius: 15px;
  background: transparent;
}
.prompt-settings input[type="text"] {
  margin: 4% 0;
}
.prompt-settings input.radio,
.prompt-settings input[type="radio"] {
  /* margin: 10px 20px 20px 20px; */
  margin: 2px 0 0 2px;
}
.prompts-form button {
  padding: 4%;
  margin: 4% 0;
  background-color: rgb(15, 223, 105);
  border: 2px solid rgb(150, 245, 150);
  border-radius: 20px;
  cursor: pointer;
}
.prompt-settings button:hover {
  background-color: rgb(22, 245, 119);
  border: 2px solid rgb(112, 239, 112);
}
.prompt-settings h1 {
  margin: 5% 0 5% 0;
}
.prompt-card {
  transform: translate(8%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
}
.prompt-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}