.Timer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0px 0 1px black;
  background-color: var(--timer-bg);
  transition: .5s all;
}
.active {
  top: 50px;
}
.Timer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5%;
  gap: 10%;
}
.timer-settings input[type="text"] {
  text-align: center;
  min-width: 30px;
  max-width: 60px;
  max-height: 45px;
  border-radius: 15px;
  font-size: 2rem;
}
.timer-controls img {
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}
.type-select {
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
  padding: 0 5px;
  cursor: pointer;
}
.toggle-button {
  position: fixed;
  top: 50px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 35px;
  border-radius: 0 0 0 10px;
  border: 2px solid black;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  background: var(--timer-bg);
  overflow: hidden;
  transition: .5s all;
}
.active-button {
  top: 100px;
}